@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 250px;
  text-align: center;
  margin: 200px auto;
  font-family: 'Raleway', sans-serif;
  background: url(../images/background.jpg);
  background-size: contain;

  h1{
    display: flex;
    color: white;
    justify-content: center;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: white;
    opacity: 0.9;
  }
  
  button{
    width: 250px;
    height: 50px;
    border: 1px solid white;
    border-radius: 5px;
    background: lightgray;
    font-size: 20px;
    font-weight: 700;
    margin: 20px auto;
    color: white;
    opacity: 0.9;
    transition: 0.5s;
    position: relative;
  }

  button:hover{
    cursor: pointer;
    background: white;
    color: lightgray;
  }

  button.selected{
    background: white;
    color: lightgray;
  }

  p{
    display: flex;
    max-width: 800px;
    max-height: 500px;
    color: white;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    background: lightgray;
    font-size: 20px;
    opacity: 0.9;
    margin-left: 320px;
    margin: 50px auto;
  }

  .tabai{
    
    img {
      max-width: 800px;
      min-height: 300px;
      object-fit: cover;
      object-position: center;
      border-radius: 5px;
      border: 1px solid white;
      box-shadow: 5px 5px 5px lightgray;
      position: relative;
      transition: 0.5s;
    }

    .tab{
      display: none;
    }
  }
}







